body {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../assets/plane-background.jpg");
}

@keyframes slideBg {
  100%,
  0% {
    background-image: url("../assets/plane-background.jpg");
  }

  20% {
    background-image: url("../assets/tour.jpg");
  }

  40% {
    background-image: url("../assets/oldAge.jpg");
  }

  60% {
    background-image: url("../assets/flightImage_takeoff.jpg");
  }

  80% {
    background-image: url("../assets/travellers.jpg");
  }
}
