.card {
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
  padding-right: 0;
  padding-left: 0;
  border-style: none;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
  transform: scale(1.05) translateZ(0);
  border-style: none;
}

.card-body {
  padding: 2px !important;
}

.card-title {
  color: white;
  font-family: Marker Felt, fantasy;
  font-size: 200%;
  font-weight: bolder;
  padding-top: 40%;
  text-shadow: 2px 2px #000000;
}

.card-text {
  color: black;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 100%;
}

.card-img-overlay {
  min-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

img {
  filter: brightness(80%);
}

.row {
  padding: 5px;
  margin-right: 0px;
  margin-left: 0px;
}
